@tailwind base;
@tailwind components;
@tailwind utilities;  

@keyframes blinking-fast {
    0%, 100% {
      color: red;
    }
    50% {
      color: white;
    }
  }
  
  .animate-blinking-fast {
    animation: blinking-fast 0.8s infinite; /* Adjust the duration (0.5s) for faster blinking */
}

@keyframes marquee {
  0% { transform: translateX(90vw); }
  100% { transform: translateX(-60vw); }
}

.marquee {
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}
