@tailwind base;
@tailwind components;
@tailwind utilities;

.underDiv{
    width: 80%;
    height: 5px;
    background: white;
    border-radius: 5%;
    animation: slideIn 1s ease-out; /* Adjust the duration and timing function as needed */
    opacity: 0; /* Initially set the opacity to 0 to make it invisible */
    transform: translateX(-100%); /* Initially position the div outside the viewport on the left */
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }